@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --smoke-cloud: #acb9b9;
  --miracle-bay: #769393;
  --winter-could-grey: #6e7c7c;
  --black: #000000;
  --cheesy-frittata: #f8eca0;
  --chai-latte: #f8c9a0;
  --dr-white: #f9fafa;
  --panda-black: #3d4848;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--smoke-cloud);
  color: var(--black);
}

body *:not(input) {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

h1 {
  font-size: 110px;
  font-weight: 300;
  letter-spacing: -5px;
}

h2 {
  font-size: 36px;
  font-weight: 300;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  color: var(--panda-black);
}

h4,
button {
  font-size: 20px;
}

h4 {
  font-weight: normal;
}

button {
  font-weight: bold;
}

hr {
  border: unset;
  height: 3px;
  background-color: var(--miracle-bay);
}

button {
  margin: unset;
  padding: 33px;
  box-shadow: 0 0px 8px 0 var(--miracle-bay);
  background-color: var(--cheesy-frittata);
  border: none;
  transition: opacity 100ms linear;
  cursor: pointer;
  color: var(--black);
}

input {
  margin: unset;
  border-radius: unset;
}

button:active {
  opacity: 0.7;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  --webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

.reduceOpacityOnHover {
  transition: opacity 100ms linear;
}

.reduceOpacityOnHover:active {
  opacity: 0.8;
}
