@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
}

p {
  margin-block-start: unset;
  margin-block-end: unset;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  --webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

/* button {
  all: unset;
  background: none !important;
  box-shadow: none !important;
  user-select: none;
}

button:hover {
  background: none !important;
  box-shadow: none !important;
  user-select: none;
}

button:focus {
  background: none !important;
  box-shadow: none !important;
  user-select: none;
} */
