@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --smoke-cloud: #acb9b9;
  --miracle-bay: #769393;
  --winter-could-grey: #6e7c7c;
  --black: #000000;
  --cheesy-frittata: #ece093;
  --chai-latte: #f8c9a0;
  --dr-white: #f9fafa;
  --panda-black: #3d4848;
  --roseberry: #f8a6a0;
}

html,
body {
  position: fixed;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--smoke-cloud);
  color: var(--black);
}

body * {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: unset;
  margin-block-end: unset;
}

h1 {
  font-size: 110px;
  font-weight: 300;
  letter-spacing: -5px;
}

h2 {
  font-size: 36px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--winter-could-grey);
}

h4 {
  font-size: 22px;
}

h5,
button {
  font-size: 20px;
  font-weight: bold;
}

button {
  margin: 0px;
  padding: 33px;
  box-shadow: 0 0px 8px 0 var(--miracle-bay);
  background-color: var(--cheesy-frittata);
  border: none;
  transition: opacity 100ms linear;
}

button:active {
  opacity: 0.7;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  --webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}
